.container {
    display: flex;
    justify-content: space-around;
}
.size200 {
    width: 200px;
    height: 200px;
    background-color: #d3aab6;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.RubikPixels {
    font-family: "Rubik Pixels", system-ui;
    font-weight: 400;
}
.SedgwickAveDisplay {
    font-family: "Sedgwick Ave Display", cursive;
    font-weight: 400;
}
.DancingScript {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
}
.FjallaOne {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
}
.IndieFlower {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
}